# Dependency folders
Backend/node_modules/
Frontend/node_modules/

# Environment files
Backend/.env
Frontend/.env
Frontend/.env.*
Frontend/.env.example
Backend/.env.example

# Build outputs
Frontend/dist/
Frontend/dist-ssr/

# Logs
*.log

# OS/editor
.DS_Store
.vscode/
.idea/
